
.camera {
  top: -700px; /* ensures it’s invisible until it’s called */
  position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
  left: calc(50% - 275px); /* positions the div half way horizontally */
  /*top: 16.75%;*/ /* positions the div half way vertically */
  max-width: 514px;
  padding: 25px;
  background-color: rgba(25, 25, 25, 0.8);
  width: 500px;
  z-index: 50; /* makes the div the top layer, so it’ll lay on top of the other content */
 	-moz-transition:all 350ms cubic-bezier(.42,0,.58,1);
	-ms-transition:all 350ms cubic-bezier(.42,0,.58,1);
	-o-transition:all 350ms cubic-bezier(.42,0,.58,1);
	-webkit-transition:all 350ms cubic-bezier(.42,0,.58,1);
	transition:all 350ms cubic-bezier(.42,0,.58,1);
}

.show {
	top: 79px;
}

#canvasHolder {
	display: none;
}

#cam-js {
	width: 100%;
	height: auto;
}

video {
/*	width: 100%;
	margin: 0 auto;*/
	position: relative;
	transform-origin: 20% 50%;
    -webkit-transform-origin: 20% 50%;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

#preview {
  -webkit-animation:insertImg 500ms; /* Safari and Chrome */
  animation:insertImg 500ms;
  width: 133%;
  margin: 0 -25% 0 -25%;
}

@keyframes insertImg
{
  from{height:0;}
  to{height: 30%;}
}

@-webkit-keyframes insertImg (/* Safari and Chrome */)
{
  from{height:0;}
  to{height: 30%;}
}
