/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  font-size: 16px;
}

.title, .subtitle, .logo{
  font-family: "Lobster", cursive;
  line-height: 1.2;
}
.title{
  font-size: 4.236em; /**h2 size**/
}
.subtitle{
  font-size: 1.618em; /**h4 size**/
}

h1 {
    font-size: 6.854em;
}

h2 {
    font-size: 4.236em;
    margin: 0.83em 0;
}

h3 {
    font-size: 2.618em;
    margin: 1em 0;
}

h4 {
    font-size: 1.618em;
    margin: 1.33em 0;
}

h5 {
    font-size: 1em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.618em;
    margin: 2.33em 0;
}

small{
  font-size: 0.618em;
}

/* Setting up custom ico-fonts*/
@font-face{

}
