.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: #000000;
}
.icon-camera {
	fill: #000000;
}
.icon-cog {
	fill: #000000;
}
.icon-align-justify {
	fill: #000000;
}
.icon-circle-plus {
	fill: #000000;
}
.icon-circle-minus {
	fill: #000000;
}
.icon-circle-check {
	fill: #000000;
}
.icon-circle-cross {
	fill: #000000;
}
.icon-square-plus {
	fill: #000000;
}
.icon-square-check {
	fill: #000000;
}
.icon-cloud-upload {
	fill: #000000;
}
.icon-upload {
	fill: #000000;
}
.icon-location {
	fill: #000000;
}
.icon-location-2 {
	fill: #000000;
}
.icon-head {
	fill: #000000;
}
.icon-share {
	fill: #000000;
}
.icon-cross {
	fill: #000000;
}
.icon-outbox {
	fill: #000000;
}
.icon-twitter {
	fill: #000000;
}
.icon-twitter2 {
	fill: #000000;
}
.icon-twitter3 {
	fill: #000000;
}
.icon-github {
	fill: #000000;
}
.icon-github2 {
	fill: #000000;
}
.icon-github3 {
	fill: #000000;
}
.icon-github4 {
	fill: #000000;
}
.icon-github5 {
	fill: #000000;
}
.icon-settings {
	fill: #000000;
}
.icon-camera2 {
	fill: #000000;
}
.icon-location2 {
	fill: #000000;
}
.icon-bubble {
	fill: #000000;
}
.icon-location3 {
	fill: #000000;
}
.icon-share2 {
	fill: #000000;
}
.icon-cog2 {
	fill: #000000;
}
.icon-camera3 {
	fill: #000000;
}
.icon-upload2 {
	fill: #000000;
}
.icon-github6 {
	fill: #000000;
}
.icon-github7 {
	fill: #000000;
}
.icon-twitter4 {
	fill: #000000;
}
.icon-twitter5 {
	fill: #000000;
}
